body{
    font-family: Janda;
}

@font-face {
    font-family: Janda;
    src: url(/fonts/JandaManateeSolid.ttf);
}

.item-title{
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin-left: auto; 
    margin-right: auto;
    font-size: 30px;
    vertical-align: middle;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 20px;
}

.item-help{
    width: 157.5px;
    border-radius: 10px;
}

.item{
    border-radius: 10px;
}

.item-button{
    border-radius: 10px;
}

.dropdown-menu{
    border-radius: 10px;
}

#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.boton{
    border-radius: 10px;
    background-color: #f8af3e;
    color: #cf3430;
    border-style: none;
    width: 150px;
    height: 30px;
}